* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    background-color: #222;
}

canvas {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 16/9) {
    canvas {
        width: 177.778vh !important;
        height: 100vh !important;
    }
}
@media(max-aspect-ratio: 16/9) {
    canvas {
        height: 56.25vw !important;
        width: 100vw !important;
    }
}
