* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #222;

    font-size: 16px;
    font-family: monospace;
}

#frame {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

@media(min-aspect-ratio: 16/9) {
    #frame {
        width: 177.778vh;
        height: 100vh;
    }
}
@media(max-aspect-ratio: 16/9) {
    #frame {
        height: 56.25vw;
        width: 100vw;
    }
}

canvas {
    width: 100%;
    height: 100%;
}

#experiments {
    margin: auto;
    padding: 32px;
    max-width: 480px;
}

#experiments > .experiment:not(:first-child) {
    margin-top: 64px;
}

#experiments > .experiment > canvas {
    margin-top: 32px;
}

@media(max-width: 640px) {
    #experiments {
        /*text-align: justify*/
    }
}
